.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.cardd {
  min-height: 200px;
}

.card .card-content p {
  color: #ee6e73;
  font-weight: 500;
}
