.searchM_wrapper {
  align-items: center;
  display: flex;
  padding: 40px;
  min-height: 550px; 
  justify-content: center;
  background-image: url('https://media1.tenor.com/m/UQSBqH_jKOwAAAAd/big-boss-smoke.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
}