.platforms {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  justify-content: center;
  text-align: center;
}

.platforms__images {
  max-width: 400px;
  max-height: 300px;
  height: auto;
  grid-row: 1/2;
  grid-column: 5;
  text-align: left;
}

.platform-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
  text-align: left;
}
.card-platfroms {
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.2);
  box-sizing: border-box;
  border-radius: 15px;
  margin-bottom: 20px;
}
.card-media {
  width: 100%;
  overflow: hidden;
}
.card-media__wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
.card-media__wrapper-li {
  width: 100%;
  height: 0;
  padding-bottom: 90%;
  overflow: hidden;
}
.platform-filter {
  display: flex;
  align-items: center;
}

.game-cover {
  position: absolute;
  width: 100%;
}

.container-background {
  width: 100%;
  position: relative;
  height: 100%;
}

.container-background::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: linear-gradient(to left, #ffffffad, #b6b6b6a7);
  opacity: 0.8;
}

.flag-img {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 5px;
}

.developer {
  display: flex;
  font-weight: 700;
  align-items: center;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;

  justify-content: space-between;
}

.developer:after {
  content: "";
  position: absolute;
  top: -20px;
  height: 1px;
  width: 20%;
  background-color: rgb(0, 0, 0);
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: 600;
}
.tags a {
  border-radius: 13px;
  background-color: #b71c1c;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}
.ranking {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}
.ranking-item {
  width: 140px;
  margin: 0 auto;
}

input:not([type]),
input[type="text"]:not(.browser-default),
input[type="password"]:not(.browser-default),
input[type="email"]:not(.browser-default),
input[type="url"]:not(.browser-default),
input[type="time"]:not(.browser-default),
input[type="date"]:not(.browser-default),
input[type="datetime"]:not(.browser-default),
input[type="datetime-local"]:not(.browser-default),
input[type="tel"]:not(.browser-default),
input[type="number"]:not(.browser-default),
input[type="search"]:not(.browser-default),
textarea.materialize-textarea {
  font-size: 1rem;
  height: 1rem !important;
  padding: 4px 0 !important;
  box-sizing: content-box !important;
  width: 100% !important;
  border: none !important;
  border-bottom: 1px solid #9e9e9e !important;
  box-shadow: none !important;
  background-color: transparent !important;
  transition: all 0.3s !important;
}

.tags a:not(:first-of-type) {
  margin-left: 20px;
}
.developer::before {
  content: "";
  position: absolute;
  width: 20%;
  bottom: -20px;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

span {
  font-weight: 700;
}

@media only screen and (max-width: 800px) {
  .flag-img {
    padding-bottom: 15px;
    width: 80px;
    height: 80px;
  }
}

.container-full {
  background-color: white;
  z-index: 1;
  position: relative;
  height: 100%;
  -webkit-box-shadow: 4px 4px 59px 65px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 59px 65px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 59px 65px rgba(34, 60, 80, 0.2);
}
.platforms__games {
  text-align: left;
  font-size: 20px;
}
.platforms__games-list {
  text-align: left;
}
.GamePage__btn-back {
  background-color: #f44336;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px #f44336 solid;
  color: white;
}

.GamePage__btn-back:hover {
  background-color: darkred !important;
  border: 1px darkred solid;
}

.GamePage__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px;
}

.GamePage__tags {
  display: flex;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 10px;
}
.pageTo {
  display: flex;
}

.pageToInput {
  min-width: 40px;
  text-align: center;
  vertical-align: middle;
}
.card .card-content p {
  color: #ee6e73;
  font-weight: 500;
}
