.r-searchM{
  display: flex;
  background-color: white;
  top: 50%;
  height: 50px;
  border-radius: 50px;
  align-items: center;
  width: 600px;
  align-items: center;
}

.burger-menu {
  position: absolute;
  top: 65px;
  left: 1.5rem;
  background-color: #b71c1c;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.burger:focus-visible {
  outline: 3px solid #fff;
  outline-offset: 4px;
  border-radius: 6px;
}

.burger-menu.active {
 opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}


.searchM:active,
.searchM:focus,
.searchM:hover,
.searchM {
  border-bottom: none !important;
}

#searchM {
  margin: 0 0 0 30px !important;
  font-size: 1.3rem !important;
  color: #ff0000;
  font-weight: 600;
  display: flex;
}

#searchM::before {
  display: inline-flex;
  position: relative;
  width: 2px;
  height: 30px;
  background-color: #92959c;
  content: "";
}
.searchM,
.searchM:focus,
.searchM:active {
  outline: none !important;
  box-shadow: none !important;
}

.search-icon {
  order: -1;
  position: relative;
  display: flex;
  height: 30px;
  width: 30px;
  align-items: center;
}

#searchM {
  position: relative;
}

input {
  outline: none !important;
}
input:not([type]) {
  height: 20px !important;
}

input[type="text"] {
  height: 40px !important;
}