
.menu-list {
  position: relative;
  display: flex;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}
.burger.open::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
}
.burger.open::after {
  bottom: 11px;
  transform: rotate(-45deg);
}

.burger-list {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.burger-list__item, .menu-list__item {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}

.burger {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  display: none;
  height: 26px;
  z-index: 1001;
  margin: 1rem 1.2rem 1rem 1.2rem;

}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
  transition: all 0.3s ease;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
}
.burger::after {
  bottom: 0;
}
.flag-img {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 5px;
}