@import url("./layouts/media.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4 {
  margin: 0;
}

nav {
  padding: 0 0.4rem;
}

.content {
  min-height: calc(100vh - 64px - 254px);
  padding: 1.5rem 0;
  position: relative;
}

.container {
  margin: 0 auto;
}

.games {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 1rem;
}

.input-field input {
  padding-left: 1rem;
}

.validate:focus-visible {
  outline-color: red;
}

nav {
  height: auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .brand-logo {
  position: relative;
}

.card {
  max-height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
}
.burger-menu {
  position: absolute;
  top: 65px;
  left: 1.5rem;
  background-color: #b71c1c; /* red darken-4 */
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 2;
}

.burger-menu.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.burger-list {
  display: flex;
  flex-direction: column;
}

button:hover {
  background-color: rgba(255, 255, 255, 0) !important;
}
button:active {
  background-color: rgba(255, 255, 255, 0) !important;
}
button:focus {
  background-color: rgba(255, 255, 255, 0) !important;
}
nav {
  position: fixed;
  z-index: 2;
}


.burger {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  display: none;
  height: 26px;
  z-index: 3;
  margin: 1rem 1.2rem 1rem 1.2rem;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ffffff;
  transition: all 0.3s ease;
}
.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #ffffff;
}
.burger::after {
  bottom: 0;
}
.card .card-image img {
  height: 100%;
}
.burger.open::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(255, 255, 255, 0);
}
.burger.open::after {
  bottom: 11px;
  transform: rotate(-45deg);
}

.logo-wrapper {
  align-items: center;
  display: flex;
  position: relative;
}

.search-btn {
  background-color: rgba(255, 255, 255, 0) !important;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 45px;
}
.search-btn:active {
  background-color: rgb(239, 147, 9);
  color: #fff;
}
.validate {
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-bottom: 1px solid rgb(239, 147, 9);
}
.validate:focus,
.validate:active {
  border-bottom: 2px solid #fff;
}

.searchM:active,
.searchM:focus,
.searchM:hover,
.searchM {
  border-bottom: none !important;
}

#searchM {
  margin: 0 0 0 10px !important;
  font-size: 1.3rem !important;
  color: #92959c;
  font-weight: 600;
  display: flex;
}

#searchM::before {
  display: inline-flex;
  position: relative;
  width: 2px;
  height: 30px;
  background-color: #92959c;
  content: "";
}

.preloader {
  display: flex;
  left: 50%;
  justify-content: center;
  align-items: center;
  top: 50%;
}

.searchM,
.searchM:focus,
.searchM:active {
  outline: none !important;
  box-shadow: none !important;
}

.search-icon {
  order: -1;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon::before {
  content: "";
  height: 100%;
  width: 20px;
  background-color: #92959c;
  display: inline-flex;
  color: #000;
  left: 0;
  position: relative;
}

#searchM {
  position: relative;
}

.clearSearchBtn::before {
  content: " ";
  height: 30px;
  width: 2px;
  position: relative;
  background-color: #92959c;
  display: inline-flex;
  align-items: center;
  right: 8px;
}

.input-field input:focus {
  border-bottom: 2px solid #fff !important;
  box-shadow: none !important;
}

.input-field input:focus + label {
  color: #fff !important;
}
.input-field input:focus {
  border-bottom: 2px solid #fff !important;
  box-shadow: none;
}

#search:active,
#search:focus,
#search:hover,
#search:visited {
  border-bottom: 1px solid #fff !important;
}

#search:focus {
  color: #fff;
}

.r-search {
  display: flex;
  align-items: center;
}

.r-search {
  margin-right: 10px;
  margin-bottom: 0;
  z-index: 1;
}

.r-searchM {
  margin-top: 20px;
  display: none;
}

.validate {
  margin-right: 10px;
  opacity: 0 !important;
  box-shadow: none !important;
  visibility: hidden !important;
  transition: opacity 0.5s ease, visibility 0.5s !important;
}

.validate.show {
  opacity: 1 !important;
  visibility: visible !important;
}

.clearSearchBtn {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  font-weight: 600;
  color: #92959c;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
}
.side-menu_filter {
  position: fixed;
  height: 100vh;
  display: block;
  left: 0;
  top: 70px;
  float: left;
  z-index: 999;
  background-color: #000 !important;
}
.side-menu_list {
  position: relative;
  top: 60px;
  padding: 20px 5px 20px 5px;
  color: #fff;
  margin-left: 10px;
  width: 200px;
}

.side-menu_list-item {
  padding: 10px 0 10px 0;
  cursor: pointer;
}

.side-menu_list-item:hover {
  background-color: #b71c1c90;

}
.filter {
  display: flex;
  margin-top: 50px;
  p {
    padding-right: 10px;
  }
  [type="radio"]:checked+span:after {
    background-color: #B71C1C;
    border: #B71C1C;
  }
}
.side-menu_list-item--item-choosed {
  background-color: #b71c1c;
  
}