@media (max-width: 992px) {
  .burger-menu {
    padding: 40px 20px;
    display: flex !important;
    width: auto;
    left: 2rem;
    right: 2rem;
    z-index: 2;
    text-align: center;
  }
  .r-searchM {
    display: flex !important;
    align-items: center;
    border: 1px solid #000000;
    padding: 5px 15px 5px 15px;
  }
  .games {
    margin-top: 15px !important;
  }
  .r-search {
    display: none !important;
  }
  .menu-list {
    display: none !important;
  }
  nav ul {
    position: relative;
  }
  .burger {
    display: block !important;
  }

  .soldierIcn {
    position: relative;
  }
  .brand-logo {
    left: auto;
    position: relative !important;
    transform: none !important;
    left: auto !important;
  }
  .search-btn {
    display: none;
  }
}

@media (max-width: 399px) {
  .soldierIcn {
    display: none;
  }
  .container {
    padding: 0;
  }
  nav .brand-logo {
    font-size: 1.5rem;
  }
  .flag-img {
    width: 43px;
    height: 43px;
    margin-left: 15px;
  }
  .burger {
    margin: auto !important;
  }
  nav {
    padding: 0 1.5rem !important;
  }
}
