@media (max-width: 992px) {
  .burger-menu {
    padding: 40px 20px;
    display: flex ;
    width: auto;
    left: 2rem;
    right: 2rem;
    z-index: 2;
    text-align: center;
  }
  .r-searchM{
  height: 40px !important;
  }
.searchM_wrapper {
  min-height: auto !important;
    background-position: 50% 50%;

}
  .games {
    margin-top: 15px !important;
  }

  .menu-list {
    display: none !important;
  }
  nav ul {
    position: relative;
  }
  .burger {
    display: block !important;
  }

  .soldierIcn {
    position: relative;
  }
  .brand-logo {
    left: auto;
    position: relative !important;
    transform: none !important;
    left: auto !important;
  }
  .search-btn {
    display: none;
  }
  .SearchM_wrapper {
  background-position: center center;
  min-height: 300px !important;
  background-size: cover;
}
}

@media (max-width: 399px) {
  
  .soldierIcn {
    display: none;
  }
  .container {
    padding: 0;
  }
  nav .brand-logo {
    font-size: 1.5rem;
  }
  .flag-img {
    width: 43px;
    height: 43px;
    margin-left: 15px;
  }
  .burger {
    margin: auto !important;
  }
  nav {
    padding: 0 1.5rem !important;
  }
}
